<div class="top">

    <% if flash[:notice] %>
        <p id="notice">
           <%= flash[:notice] %>
        </p>
    <% end %>

    <% if flash[:notice2] %>
        <p id="notice">
            <%= flash[:notice2] %>
        </p>
    <% end %>

    <p class="toptext"><strong>Title: </strong><%= @book.title %></p>
    <p class="toptext"><strong>Body: </strong><%= @book.body %></p>

    <a class ="link" href="<%= edit_book_path(@book.id) %>">Edit</a> |
    <a class ="link" href="<%='/books' %>">Back</a>



</div>